.button{
	padding: .3rem 1rem;
	border-radius: 1rem;
	background: $colorLight;
	display: inline-block;

	text-decoration: none;
	color: $colorSite !important;
	border: none;
	cursor: pointer;
	outline: none !important;
	&.reverse{
		background: $colorSite !important;
		color: $colorLight !important;
	}
	&.skip{
		margin-top: 10px !important;
		span{
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.9px;
			border-bottom: 1px solid $colorDarkDivider;
		}
	}
	&.facebook{
		margin: 0 0 40px 0;
		background: color(Facebook) !important;
	}

	> * {
		float: left;
	}
	span{
		font-size: .5rem;
		font-weight: 500;
		& + i{
			margin-right: 0;
			margin-left: .5rem;
		}
	}
	i{
		font-size: .4rem;
		margin-right: .5rem;
	}
}